<h1><%=t('.title')%> <%= @railway_station.title %></h1>

<% if @railway_station.routes.empty? %>
    <p><%=t('.out_route')%></p>
<% else %>
    <p><%=t('.in_routes')%></p>
    <ul>
      <% @railway_station.routes.each do |route| %>
          <li> <%= route.title %> </li>
      <% end %>
    </ul>
<% end %>

<%= link_to t('.edit'), edit_admin_railway_station_path(@railway_station) %> |
<%= link_to t('common.back'), admin_railway_stations_path %>
