<p class="form-control">
  <strong>Наименование маршрута:</strong>
  <%= @route.title%>
</p>

<p class="form-control">
  <strong>Список поездов маршрута:</strong>
  <% if @route.trains.empty? %>
      Поездов на маршруте нет
  <% else %>
    <ul>
      <% @route.trains.each do |t| %>
          <li> <%= t.number %> </li>
      <% end %>
    </ul>
  <% end %>
</p>

<p class="form-control">
  <strong>Список станций маршрута:</strong>
  <% if @route.railway_stations.empty? %>
      Станций в маршруте нет
  <% else %>
    <table>
      <thead>
      <tr>
        <td width="100">Название</td>
        <td>Позиция</td>
      </tr>
      </thead>
      <tbody>
      <% @route.railway_stations.ordered.each do |s| %>
          <tr>
            <td> <%= s.title %> </td>
            <td>
              <%= form_tag update_position_admin_railway_station_path(s), method: :patch do %>
                  <%= number_field_tag :station_number, s.position_in(@route) %>
                  <%= hidden_field_tag :route_id, @route.id%>
                  <%= submit_tag "Изменить", class: 'btn btn-success' %>
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>
</p>

<%= link_to 'Редактировать', edit_admin_route_path(@route), class: 'btn btn-link' %> |
<%= link_to 'Назад', admin_routes_path, class: 'btn btn-link' %>
