<%= form_for(train) do |f| %>

    <%= render 'common/errors', resource: train %>

    <div class="field">
      <%= f.label :Номер %>
      <%= f.text_field :number %>
    </div>

    <div class="field">
      <%= f.label :current_station, "Текущая станция" %>
      <%= f.collection_select :current_station_id, RailwayStation.all, :id, :title %>
    </div>

    <div class="field">
      <%= f.label :route, "Маршрут" %>
      <%= f.collection_select :route_id, Route.all, :id, :title %>
    </div>

    <div class="field">
      <%= f.label :sort_order, 'Порядок вагонов << С головы >>' %>
      <%= f.check_box :sort_order %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
