<p id="notice"><%= notice %></p>

<p>
  <strong>Поезд номер:</strong>
  <%= @train.number %>
</p>

<p>
  <strong>Количество вагонов:</strong>
  <%= @train.carriages.length %>
</p>

<p>
  <strong>Список вагонов:</strong>
<ul>
  <% @train.carriage_list.each do |c| %>
      <li>
        <%= link_to "Вагон № #{c.number}", carriage_path(c) %>
        <!--<%# link_to "Вагон № #{c.number}", [@train, c] %>-->
      </li>
  <% end %>
</ul>
</p>

<p>
<strong>Количество вагонов по типам:</strong>
  <ul>
    <% @train.carr_by_type.each do |t| %>
    <li>
      <%= "#{t[0]} -- #{t[1]} " %>
      <% @train.places_by_type(t[0]).each do |p| %>
        <%= "#{p[0]}: #{p[1]}" %>
      <% end %>
    </li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Маршрут:</strong>
  <% if @train.route.present? %>
      <%= @train.route.title %>
  <% else %>
      Маршрут не назначен
  <% end %>
</p>

<p>
  <strong>На станции:</strong>
  <% if @train.current_station.present? %>
    <%= @train.current_station.title %>
  <% else %>
    Не указано
  <% end %>
</p>

<p>
  <%= link_to 'Добавить вагон', new_train_carriages_path(@train) %>
</p>


<%= link_to 'Редактировать', edit_train_path(@train) %> |
<%= link_to 'Назад', trains_path %>
