<h1> RAILWAY ... </h1>

<p><%= link_to 'Станции', railway_stations_path %></p>
<p><%= link_to 'Маршруты', routes_path %></p>
<p><%= link_to 'Поезда', trains_path %></p>
<p><%= link_to 'Вагоны', carriages_path %></p>
<p><%= link_to 'Поиск билетов', search_path %></p>

