<h1>Редактирование билета</h1>

<table class='table table-striped'>
  <tbody align="left">
  <tr>
    <th>Номер поезда:</th>
    <td><%= @ticket.train.number %></td>
  </tr>
  <tr>
    <th>Маршрут:</th>
    <td><%= @ticket.train.route.title %></td>
  </tr>
  <tr>
    <th>Станция отправления:</th>
    <td><%= @ticket.start_station.title %></td>
  </tr>
  <tr>
    <th>Станция назначения:</th>
    <td><%= @ticket.end_station.title %></td>
  </tr>
  </tbody>
</table>
<%=render 'form'%>
<p>
  <%= link_to 'Список билетов', admin_tickets_path, class: 'btn btn-success' %>
</p>
