<h1>Список билетов</h1>

<table class="table table-hover">
  <thead>
  <th>Номер</th>
  <th>Пассажир</th>
  <th>Пасспорт</th>
  <th>Поезд №</th>
  <th>Станция отпр.</th>
  <th>Станция назн.</th>
  <th>Дата приобретения</th>
  </thead>
  <tbody>
  <%@tickets.each do |t| %>
  <tr>
    <td><%=t.number%></td>
    <td><%=t.passenger_name%></td>
    <td><%=t.passport_number%></td>
    <td><%=t.train.number%></td>
    <td><%=t.start_station.title%></td>
    <td><%=t.end_station.title%></td>
    <td><%=t.created_at%></td>
    <td><%=link_to 'Показать', admin_ticket_path(t), class: 'btn btn-link'%></td>
    <td><%= link_to 'Редактировать', edit_admin_ticket_path(t), class: 'btn btn-link' %></td>
    <td><%=link_to 'Удалить', admin_ticket_path(t), method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-link' %></td>
  </tr>
  <%end%>
  </tbody>
</table>
