<h1>Поиск билетов</h1>

<%= form_for(@search, method: :post, url: search_path) do |f| %>
    <%= render 'common/errors', resource: @search %>
    <div class="field">
      <%= f.label :start_station_id, 'Станция отправления' %>
      <%= f.collection_select :start_station_id, RailwayStation.ordered_by_title.all, :id, :title %>
    </div>
    <div class="field">
      <%= f.label :end_station_id, 'Станция назначения' %>
      <%= f.collection_select :end_station_id, RailwayStation.ordered_by_title.all, :id, :title %>
    </div>
    <p>
    <div class="actions">
      <%= f.submit 'Найти' %>
    </div>
    </p>

    <% if @search.result %>
        <h2><%= 'Результаты поиска:' %></h2>
        <table>
          <thead align="center">
          <tr>
            <td><%= 'Поезд' %></td>
            <td width="200"><%= 'Маршрут' %></td>
            <td><%= 'Время отправления' %></td>
            <td><%= 'Время прибытия' %></td>
          </tr>
          </thead>
          <tbody>
          <% @search.result.each do |t| %>
              <tr>
                <td><%= t.number %></td>
                <td width="200"><%= t.route.title %></td>
                <td align="center"><%= @search.start_station.arrival_time(t.route) %></td>
                <td align="center"><%= @search.end_station.departure_time(t.route) %></td>
                <td ><%= "BAY TICKET" %></td>
              </tr>
          <% end %>
          </tbody>
        </table>

    <% end %>

<% end %>

