<div class="col-md-12">
  <table class="table table-striped">
    <tr>
      <td>
        <div id="train_title_<%= train.id %>">
          <%= train.number %>
        </div>
        <%= render 'inline_edit_form', train: train, hidden: true %>
      </td>
      <td><%= link_to 'Показать', admin_train_path(train), class: 'btn btn-link' %></td>
      <td><%= link_to 'Редактировать', '', class: 'btn btn-link edit-train-number', data: {train_id: train.id} %></td>
      <td><%= link_to 'Удалить', admin_train_path(train), method: :delete, data: {confirm: 'Вы уверены?'}, class: 'btn btn-link' %></td>
    </tr>
  </table>
</div>
